<!DOCTYPE html>
<html>
  <head>
    <title>Oswegocsa</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => 'shared/nav' %>

    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %> 

    <%= yield %>

  </body>
</html>
